.hero {
  position: relative;
  color: white;

  .title {
    font-size: 30rem !important;
  }
}

.heroBackground {
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
  }
}
